body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

address {
  font-style: normal;
}

.primary-button {
  background-color: #2196f3;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;
  display: block;
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.primary-button__icon {
  fill: currentColor;
  margin-left: 10px;
}

.secondary-button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button:hover, .secondary-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  cursor: pointer;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus {
  color: #2196f3;
}

.close-button__icon {
  fill: currentColor;
}

.primary-button--flex, .close-button, .header__list, .contact-list__link, .service-list__overlay, .social-list__link, .checkbox, .checkbox__label, .checkbox__icon-wrapper {
  display: flex;
  align-items: center;
}

.quality-list__item:not(:first-child), .service-list__item:not(:first-child), .team-list__item:not(:first-child), .clients__item:not(:first-child) {
  margin-left: 30px;
}

.section-title {
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo__studio {
  color: #000000;
}

.logo__studio--secondary {
  color: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__nav {
  margin-left: 93px;
}

.header__contact {
  margin-left: auto;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link.site-nav__current {
  color: #2196f3;
  position: relative;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contact-list__item:not(:first-child) {
  margin-left: 50px;
}

.contact-list {
  display: flex;
}

.contact-list__link {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
  background-size: cover;
  background-position: center;
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section-quality {
  padding-bottom: 47px;
}

.quality-list {
  display: flex;
}

.quality-list__title {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.quality-list__text {
  font-size: 14px;
  line-height: 1.71;
}

.quality-list__icon-wrapper {
  display: flex;
  background: #f5f4fa;
  margin-bottom: 30px;
  padding: 25px 0px;
  justify-content: center;
  border-radius: 4px;
}

.quality-list__icon {
  display: block;
}

.section-company {
  padding-top: 47px;
}

.service-list {
  display: flex;
}

.service-list__img-wrapper {
  position: relative;
}

.service-list__overlay {
  position: absolute;
  justify-content: center;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.service-list__overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.section-team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__teamate {
  background-color: #ffffff;
  padding: 30px 32px;
  border-radius: 0px 0px 4px 4px;
}

.team-list__teamate-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}

.team-list__teamate-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
}

.social-list__link {
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-list__icon {
  fill: currentColor;
}

.social-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-list__link--secondary-color {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.clients {
  display: flex;
}

.clients__link {
  display: flex;
  justify-content: center;
  width: 170px;
  padding: 16px 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus, .clients__link:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__container {
  display: flex;
}

.address__footer {
  margin-top: 20px;
}

.footer__social {
  margin-left: 70px;
  margin-top: 12px;
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__subscribe {
  margin-left: auto;
  margin-top: 12px;
}

.secondary-contact-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.secondary-contact-list__map-link {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-contact-list__map-link:hover, .secondary-contact-list__map-link:focus {
  color: #2196f3;
}

.secondary-contact-list__link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-contact-list__link:hover, .secondary-contact-list__link:focus {
  color: #2196f3;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
  color: #ffffff;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item {
  margin-left: 0px;
}

.filter-list__item:not(:first-child) {
  margin-left: 8px;
}

.portfolio-list__type {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__item {
  width: 370px;
}

.portfolio-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-list__item:hover, .portfolio-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__item:focus .portfolio-list__overlay,
.portfolio-list__item:hover .portfolio-list__overlay {
  transform: translateY(0);
}

.portfolio-list__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.portfolio-list__name {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list__description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.input-field {
  margin-bottom: 10px;
}

.input-field__group-absolute {
  position: relative;
}

.input-field__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field__input:focus {
  border-color: #2196f3;
}

.input-field__input:focus + .input-field__icon {
  fill: #2196f3;
}

.label {
  display: block;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.textarea-field {
  margin-bottom: 20px;
}

.textarea-field__input {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field__input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-field__input:focus {
  border-color: #2196f3;
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__label {
  font-size: 14px;
  line-height: 1.71;
}

.contract__link {
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
  margin-left: 7px;
}

.checkbox__icon-wrapper {
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon-wrapper {
  fill: #ffffff;
}

.checkbox__input:checked + .checkbox__icon-wrapper {
  background-color: #2196f3;
  border: none;
}
/*# sourceMappingURL=main.css.map */