.primary-button {
  background-color: $accent-color;
  cursor: pointer;
  color: $primary-color;
  font-family: inherit;
  font-weight: bold;
  @include font(16px, 1.87);
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;
  display: block;
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.primary-button--flex {
  @extend %align-list;
}

.primary-button__icon {
  fill: currentColor;
  margin-left: 10px;
}

.secondary-button {
  padding: 6px 22px;
  background-color: $primary-shade-color;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  @include font(16px, 1.62);
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba($secondary-color, 0.1);
  border-radius: 50%;
  background-color: $primary-color;
  width: 30px;
  height: 30px;
  cursor: pointer;
  @extend %align-list;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.close-button__icon {
  fill: currentColor;
}
