.footer {
  background-color: $secondary-shade2-color;
  padding: 60px 0;
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-list {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 76px;
    padding-right: 89px;
    align-items: baseline;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.footer-list__block {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.address__footer {
  margin-top: 20px;
}

.footer-list__social {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 12px;
  }
}
.footer__title {
  @include font(14px, 1.14);
  color: $primary-color;
  text-transform: uppercase;
  margin-bottom: 20px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer__subscribe {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-top: 12px;
  }
}
