.hero {
  background-color: $secondary-shade2-color;
  text-align: center;
  padding: 200px 0;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba($secondary-shade2-color, 0.4),
      rgba($secondary-shade2-color, 0.4)
    ),
    url("../images/hero-img-mob-1x.jpg");
  background-size: cover;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero-img-mob-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero-img-tab-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-img-tab-2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/hero-img.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-img-2x.jpg);
    }
  }
}
.hero__title {
  color: $primary-color;
  font-weight: 900;
  @include font(26px, 1.62);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    @include font(44px, 1.36);
  }
}
