.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($secondary-color, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.4);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: $primary-color;
  box-shadow: 0px 1px 3px rgba($secondary-color, 0.12),
    0px 1px 1px rgba($secondary-color, 0.14),
    0px 2px 1px rgba($secondary-color, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 700;
  @include font(20px, 1.15);
  text-align: center;
  color: $secondary-shade-color;
  margin-bottom: 12px;
}
