.header__social {
  margin-top: 64px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.secondary-social-list {
  display: flex;
  flex-wrap: wrap;
}

.secondary-social-list__link {
  text-decoration: none;
  font-weight: 500;
  @include font(18px, 1.22);
  color: $accent-color;
  margin-right: 10px;
}

.secondary-social-list__item {
  margin-bottom: 8px;
  &:not(:last-child) {
    border-right: 1px solid rgba($secondary-shade-color, 0.2);
    margin-right: 10px;
  }
}
