.subscribe-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba($primary-color, 0.3);
  border-radius: 4px;
  background-color: $secondary-shade2-color;
  outline: none;
  color: $primary-color;
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and(max-width:1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}
