$secondary-color: #000000;
$secondary-shade-color: #212121;
$secondary-shade3-color: #757575;
$secondary-shade4-color: #afb1b8;
$accent-color: #2196f3;
$primary-color: #ffffff;
$secondary-shade2-color: #2f303a;
$primary-shade-color: #f5f4fa;
$primary-shade2-color: #ececec;
$primary-shade3-color: #eeeeee;
